<div class="container">
  <mat-card>
    <h1>Study Form Array <br> ReactiveForms</h1>

    <form [formGroup]="myForm">
        <mat-form-field class="name-row">
          <input type="text" matInput placeholder="Nome" formControlName="name">
        </mat-form-field>

        <label for="email"></label>
        <div formArrayName="emails" *ngFor="let item of myForm.get('emails').controls; let i = index;">
          <div class="email-row" [formGroupName]="i">
            <mat-form-field>
              <input type="text" matInput formControlName="email" placeholder="email">
            </mat-form-field>

            <button
              (click)="addEmailItem()"
              mat-stroked-button
              matTooltip="Novo"
              color="primary"
              style="margin: 0 10px">
              <mat-icon>add</mat-icon>
            </button>
            <button
              (click)="removeEmailItem()"
              mat-stroked-button
              matTooltip="Remover"
              color="primary"
              *ngIf="i > 0">
              <mat-icon>clear</mat-icon>
            </button>
          </div>
        </div>
      </form>

      <button style="float: right;" mat-fab color="primary" (click)="save()">
        <mat-icon>done</mat-icon>
      </button>
  </mat-card>
</div>




